//Base
$white: #fff;
$black: #181A1E;

// Extended Grayscale
$gray-25: #FCFCFD;
$gray-50: #F8FAFC;
$gray-100: #EEF2F6;
$gray-200: #E3E8EF;
$gray-300: #CDD5DF;
$gray-400: #9AA4B2;
$gray-500: #697586;
$gray-600: #4B5565;
$gray-700: #364152;
$gray-800: #202939;
$gray-900: #121926;
$gray-950: #0D121C;

// Brand (Purple)
$brand-25: #F3EAF2;
$brand-50: #E3CDE5;
$brand-100: #D2B0D8;
$brand-200: #C193CA;
$brand-300: #B075BD;
$brand-400: #A058B0;
$brand-500: #C767C0;
$brand-600: #9E4AA2;
$brand-700: #803A82;
$brand-800: #602C63;
$brand-900: #3F1D43;
$brand-950: #29132D;

// Success
$success-25: #F6FEF9;
$success-50: #E8FCF3;
$success-100: #9FF3CC;
$success-200: #7AEEB8;
$success-300: #55E9A4;
$success-400: #30E490;
$success-500: #1BCF7B;
$success-600: #16AA65;
$success-700: #11854F;
$success-800: #0C6039;
$success-900: #083C23;
$success-950: #03170D;

// Warning
$warning-25: #FFF6E6;
$warning-50: #FEE7BC;
$warning-100: #FED893;
$warning-200: #FECA6A;
$warning-300: #FDBB40;
$warning-400: #FDAC17;
$warning-500: #E89702;
$warning-600: #BF7C02;
$warning-700: #956101;
$warning-800: #6C4601;
$warning-900: #432B01;
$warning-950: #191000;

// Error
$error-25: #FFFBFA;
$error-50: #FEF3F2;
$error-100: #FEE4E2;
$error-200: #FECDCA;
$error-300: #FDA29B;
$error-400: #F97066;
$error-500: #F04438;
$error-600: #D92D20;
$error-700: #B42318;
$error-800: #912018;
$error-900: #7A271A;
$error-950: #55160C;

//salmon
$system-primary: #cc00e8;//$brand-600 !default;
$system-secondary: $gray-500 !default;

// Bootstrap
$theme-colors: (
  "primary": $system-primary,
  "secondary": $system-secondary,
  "success": $success-500,
  "danger": $error-600,
  "warning": $warning-300,
  "info": $gray-200,
  "light": $gray-50,
  "dark": $gray-900
) !default;

