@use "functions" as fn;

$spacing-none: 0;
$spacing-xxs: fn.rem(2);
$spacing-xs: fn.rem(4);
$spacing-sm: fn.rem(6);
$spacing-md: fn.rem(8);
$spacing-lg: fn.rem(12);
$spacing-xl: fn.rem(16);
$spacing-2xl: fn.rem(20);
$spacing-3xl: fn.rem(24);
$spacing-4xl: fn.rem(32);
$spacing-5xl: fn.rem(40);
$spacing-6xl: fn.rem(48);
$spacing-7xl: fn.rem(64);
$spacing-8xl: fn.rem(80);
$spacing-9xl: fn.rem(96);
$spacing-10xl: fn.rem(128);
$spacing-11xl: fn.rem(160);
