/* Error: 2 arguments required, but only 1 was passed.
 *     ,
 * 151 | $font-size-label: rem(12);
 *     |                   ^^^^^^^
 *     '
 *   salmon-tokens.scss 151:19  @import
 *   theme.scss 1:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 2 arguments required, but only 1 was passed.\a     \2577 \a 151 \2502  $font-size-label: rem(12);\a     \2502                    ^^^^^^^\a     \2575 \a   salmon-tokens.scss 151:19  @import\a   theme.scss 1:9             root stylesheet";
}
