/* Error: 2 arguments required, but only 1 was passed.
 *   ,
 * 3 |   width: rem(58);
 *   |          ^^^^^^^
 *   '
 *   ../../Shared/Components/IconButton/_SalIconButton.scss 3:10  @use
 *   ../../Shared/_shared.scss 3:1                                @use
 *   theme.scss 7:1                                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 2 arguments required, but only 1 was passed.\a   \2577 \a 3 \2502    width: rem(58);\a   \2502           ^^^^^^^\a   \2575 \a   ../../Shared/Components/IconButton/_SalIconButton.scss 3:10  @use\a   ../../Shared/_shared.scss 3:1                                @use\a   theme.scss 7:1                                               root stylesheet";
}
