/* Error: There is no module with the namespace "colors".
 *    ,
 * 25 |   --bs-primary: #{colors.$system-primary};
 *    |                   ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ../design-system/_colors.scss 25:19  @use
 *   ../design-system/_buttons.scss 2:1   @use
 *   ../design-system/_mixin.scss 1:1     @use
 *   _button.scss 1:1                     @use
 *   overrides.scss 1:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "colors".\a    \2577 \a 25 \2502    --bs-primary: #{colors.$system-primary};\a    \2502                    ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ../design-system/_colors.scss 25:19  @use\a   ../design-system/_buttons.scss 2:1   @use\a   ../design-system/_mixin.scss 1:1     @use\a   _button.scss 1:1                     @use\a   overrides.scss 1:1                   root stylesheet';
}
